<div class="route-container">
  <h2 class="title">Personal Information</h2>
  <ul>
    <li>
      <strong>Firstname:</strong> Minh Chi
    </li>
    <li>
      <strong>Lastname:</strong> Diep
    </li>
    <li>
      <strong>Nationality:</strong> Vietnamese
    </li>
    <li>
      <strong>Birthday:</strong> 17/09/2003
    </li>
    <li>
      <strong>Birthplace:</strong> Ho Chi Minh City, Vietnam
    </li>
  </ul>

  <hr>

  <h2 class="title">Skills</h2>
  <ul>
    <li>
      <strong>Backend Development</strong><img src="assets/dropdown.png" class="icon" alt="dropdown" (click)="onClick('backend')">
      <ul id="backend" class="content">
        <li>
          Python
          <ul>
            <li>Flask</li>
            <li>Django</li>
          </ul>
        </li>
        <li>
          Java
          <ul>
            <li>Spring Boot</li>
          </ul>
        </li>
        <li>
          Javascript
          <ul>
            <li>NodeJs</li>
          </ul>
        </li>
      </ul>
    </li>

    <li>
      <strong>Frontend Development</strong><img src="assets/dropdown.png" class="icon" alt="dropdown" (click)="onClick('frontend')">
      <ul id="frontend" class="content">
        <li>HTML</li>
        <li>CSS</li>
        <li>Angular</li>
        <li>Bootstrap</li>
      </ul>
    </li>

    <li>
      <strong>Miscellaneous</strong><img src="assets/dropdown.png" class="icon" alt="dropdown" (click)="onClick('miscellaneous')">
      <ul id="miscellaneous" class="content">
        <li>Machine Learning</li>
        <li>Data Science</li>
        <li>SQL and NoSQL Databases</li>
      </ul>
    </li>

    <li>
      <strong>Soft Skills</strong><img src="assets/dropdown.png" class="icon" alt="dropdown" (click)="onClick('soft-skills')">
      <ul id="soft-skills" class="content">
        <li>Team Player</li>
        <li>Bias For Actions</li>
      </ul>
    </li>
  </ul>

  <hr>

  <h2 class="title">Education</h2> Currently a 4-semester Computer Science student at RWTH Aachen
  <ul>
    <li>
      <strong>Le Hong Phong High School for the gifted:</strong> from 08/2018 to 07/2021
    </li>
    <li>
      <strong>FH Aachen Institute:</strong> from 10/2021 to 07/2022
    </li>
    <li>
      <strong>RWTH Aachen:</strong> from 10/2022 till now
    </li>
  </ul>

  <hr>

  <h2 class="title">Achievements</h2>
  <ul>
    <li>
      <strong>First prize at city-level Math Competition for the gifted:</strong> 03/2021
    </li>
    <li>
      <strong>1.0 at HM4MINT Math Test organized by RWTH Aachen:</strong> 04/2022
    </li>
  </ul>

  <hr>

  <h2 class="title">Interests</h2>
  <ul>
    <li>
      <strong>Playing Badminton</strong>
    </li>
    <li>
      <strong>Doing Gym</strong>
    </li>
    <li>
      <strong>Playing Games</strong>
    </li>
    <li>
      <strong>Travelling</strong>
    </li>
    <li>
      <strong>Food</strong>
    </li>
  </ul>

</div>
