<div class="route-container">
  <h2>
    <a href="https://github.com/minhchi1709/cs50-finance" target="_blank">Finance</a>
  </h2>
  <ul>
    <li>
      <strong>Brief Description:</strong> simulation of stock buying with help of Yahoo, we fetch data from Yahoo and then handle business logics.
    </li>
    <li>
      <strong>Technologies and Languages used:</strong> Python, Flask and SQLite
    </li>
  </ul>
  <hr>

  <h2>
    <a href="https://github.com/minhchi1709/commerce" target="_blank">E-Commerce</a>
  </h2>
  <ul>
    <li>
      <strong>Brief Description:</strong> auction bidding and buying platform.
    </li>
    <li>
      <strong>Technologies and Languages used:</strong> Python, Django and SQLite
    </li>
  </ul>
  <hr>

  <h2>
    <a href="https://github.com/minhchi1709/mail" target="_blank">Mail</a>
  </h2>
  <ul>
    <li>
      <strong>Brief Description:</strong> simple mail platform, users can send, read, answer and archive mails.
    </li>
    <li>
      <strong>Technologies and Languages used:</strong> Python, Django and SQLite
    </li>
  </ul>
  <hr>

  <h2>
    <a href="https://github.com/minhchi1709/network" target="_blank">Social Network</a>
  </h2>
  <ul>
    <li>
      <strong>Brief Description:</strong> simple social network, users can follow other users, create and comment posts.
    </li>
    <li>
      <strong>Technologies and Languages used:</strong> Python, Django and SQLite
    </li>
  </ul>
  <hr>

  <h2>
    <a href="https://github.com/minhchi1709/LearningPlatform" target="_blank">Learning Platform</a>
  </h2>
  <ul>
    <li>
      <strong>Brief Description:</strong> simple learning platform, users can create and register courses. User must authenticate registration and changing password when forgetting by email verification.
    </li>
    <li>
      <strong>Technologies and Languages used:</strong> Java, Spring boot and PostgreSQL
    </li>
  </ul>


</div>
